<!doctype html>
<!--
Author: Shiza Afaqui 
Date: Feburary 1st, 2026
Description: News Website 
-->
<html>
<head>
    <meta charset="utf-8">
    <title>The Daily News</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<div class="page">

    <header class="header">
        <div class="menu">☰</div>

        <nav class="nav">
            <a href="https://example.com">HEADLINES</a>
            <a href="https://example.com">POLITICS</a>
            <a href="https://example.com">SPORTS</a>
            <a href="https://example.com">WEATHER</a>
            <a href="https://example.com">CANADA</a>
        </nav>

        <h1 class="title">The Daily News</h1>
        <div class="rule"></div>
    </header>

    <main class="content">

        <div class="left-column">
            <div class="story big">
                <img src="images/news1.png" alt="News image">
                <h2>Olivia Chow Releases 2026 City Budget.</h2>
                <p>Mayor Olivia Chow has released the final version of her 2026 city budget.</p>
                <p>She is adding new measures for small businesses and a downtown safety initiative to the spending plan.</p>
                <p>The spending plan goes to counsil this month.</p>
                <p>Chow says that the last budget of her three-year term is about “delivering an affordable, caring, and safe city.”</p>
            </div>

            <div class="story big">
                <img src="images/news2.jpg" alt="News image">
                <h2>This Once Popular Product is being Discontinued in Canada</h2>
                <p>What was once a staple in many Canadian homes will soon be unavailable in stores.</p>
                <p>Minute Maid frozen juice concentrate will be discontinued in Canada and the U.S.</p>
                <p>The company is “exiting the frozen can category” entirely in Canada, it said in an emailed statement.</p>
                <p>The decision was made “in response to shifting consumer preferences.”</p>
            </div>
        </div>


        <div class="right-column">

            <div id="story3" class="story small">
                <img src="images/news3.png" alt="News image">
                <h3>Drunk Raccoon Passes Out</h3>
                <p class="lead">On a wild Friday night, the animal broke into a liquor store in Virginia.</p>
                <p class="extra">The following morning, an officer was asked to investigate reports of a break-in.</p>
                <p class="extra">What she wasnt prepared to find was a soaked aisle that reeked of booze and smashed bottles.</p>
                <p class="extra">Spirits were the tipple of choice - this wasn't a wine racc.</p>
            </div>

            <div id="story4" class="story small">
                <img src="images/news4.jpg" alt="News image">
                <h3>Ozzy Has the Longest Tongue of Any Living Dog</h3>
                <p class="lead">The French and bull mastiff cross in Oklahoma has a tongue measuring 7.8 inches.</p>
                <p class="extra">The previous record for the longest tongue was just over five inches.</p>
                <p class="extra">Ozzy has really licked the competition in this unusual category.</p>
                <p class="extra">He is an incredibly cute dog.</p>
            </div>

            <div id="story5" class="story small">
                <img src="images/news5.png" alt="News image">
                <h3>Oxford Dictionary Publisher Reveals Word of the Year</h3>
                <p class="lead">Don't get too upset, but 'rage bait' has been named by Oxford University Press as this year's Word of the Year, beating other online terms.</p>
                <p class="extra">You might be asking - isn't that two words?</p>
                <p class="extra">The publisher says it's not tricking you.</p>
                <p class="extra">He adds that it's one word when used as a hyphenated compound phrase.</p>
            </div>

            <div id="story6" class="story small">
                <img src="images/news6.png" alt="News image">
                <h3>Bighorn sheep rescued from frozen river in Colorado</h3>
                <p>Wildlife officials in Colorado came to the rescue of a bighorn sheep that wandered out onto a frozen river.</p>
                <p>The sheep was loaded onto a trailer and taken to a facility to warm up.</p>
                <p>The ewe was reunited with the rest of her herd on Tuesday.</p>
                <p>"She bolted out of the horse trailer in excellent health, a relief to our entire Gunnison area office staff," officials wrote.</p>
            </div>

            <div id="story7" class="story small">
                <img src="images/news7.png" alt="News image">
                <h3>Kangaroo found hopping loose down Texas road</h3>
                <p>Authorities in Texas are trying to find the owner of a kangaroo found hopping down the middle of a Liberty County road.</p>
                <p>The officers and animal control personnel were able to corral the marsupial with help from members of the public.</p>
                <p>Police are now attempting to find the kangaroo's owner.</p>
                <p>Anyone with information on the animal's origins is being asked to contact the Liberty County Sheriff's Office.</p>
            </div>

            <div id="story8" class="story small">
                <img src="images/news8.png" alt="News image">
                <h3>2-year-old breaks two world records playing pool and snooker</h3>
                <p> A toddler pool prodigy in England has already broken two Guinness World Records for playing pool and snooker.</p>
                <p>Jude Owens broke the record for the youngest person to make a snooker double pot at the age of 2 years and 261 days old.</p>
                <p>The boy's father, Luke Owens, said he knew Jude would excel at the sport from the first time he picked up a cue.</p>
                <p>Jude has achieved quite a lot in such a short space of time.</p>
            </div>

        </div>

    </main>

<div class="footer">
  <div>
    <h4>Subscribe</h4>
    <a href="https://example.com">Digital Access</a>
    <a href="https://example.com">Home Delivery</a>
    <a href="https://example.com" class="no-line">Gift Subscriptions</a>
  </div>

  <div>
    <h4>Account</h4>
    <a href="https://example.com">Log In</a>
    <a href="https://example.com">Manage</a>
    <a href="https://example.com" class="no-line">Delivery</a>
  </div>

  <div>
    <h4>Contact</h4>
    <a href="https://example.com">Tip Hotline</a>
    <a href="https://example.com">Help & FAQs</a>
    <a href="https://example.com" class="no-line">Advertising</a>
  </div>
</div>

</div>

</body>
</html>
